<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Account</title>
</head>
<style>
    body{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    input{
        width: 60%;
        height: 25px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>
<body>
    <h3>Create Account</h3>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
        <br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="text" name="username" placeholder="Username"><br><br>
        <input type="password" name="password1" placeholder="Password"><br><br>
        <input type="password" name="password2" placeholder="Re-enter Password"><br><br>
        <button type="submit">Sign Up</button>
    </form>
    Already an existing user, click here to <a href="/user/login/">log in</a><br>
</body>
</html>